@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #f7fcff;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #a8daec;
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #a8daec !important;
}
